body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
    border: 1px solid gray;
}


.inputarea {
    margin: 1em;
    border: 1em solid powderblue;
    background-color: powderblue;
}

input:invalid + span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    padding-left: 5px;
}

.cardtable {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background-color: darkseagreen;
}

.dealer {
    float: left;
    margin: 1em;
    border: 1em solid gold;
    background-color: gold;
}

.winner {
    float: left;
    margin: 1em;
    border: 1em solid red;
    background-color: palegoldenrod;
}

.player {
    float: left;
    margin: 1em;
    border: 1em solid palegoldenrod;
    background-color: palegoldenrod;
}

.scoringtrump {
    margin: 1px;
    background-color: gold;
}

.zerotrump {
    margin: 1px;
    background-color: lightgoldenrodyellow;
}

.scoringcard {
    margin: 1px;
    background-color: goldenrod;
}

.zerocard {
    margin: 1px;
    background-color: darkgrey;
}

a {
    color: #00B7FF;
}
