body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
    margin: 1em;
    border: 1em solid grey;
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
    border: 1px solid grey;
}


.inputarea {
    margin: 1em;
    border: 1em solid grey;
    background-color: grey;
}

input:invalid + span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    padding-left: 5px;
}

.cardtable {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background-color: ghostwhite;
}

.dealer {
    float: left;
    margin: 1em;
    border: 1em solid gold;
    background-color: gold;
    min-width: 13em;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@keyframes winnerAnimation {
    from {
        background-color: grey;
    }

    to {
        background-color: darkgrey;
    }
}

.winner {
    float: left;
    margin: 1em;
    border: 1em solid red;
    background-color: grey;
    min-width: 13em;
    animation-name: winnerAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.player {
    float: left;
    margin: 1em;
    border: 1em solid grey;
    background-color: grey;
    min-width: 13em;
}

.scoringtrump {
    margin: 1px;
    background-color: gold;
}

.zerotrump {
    margin: 1px;
    background-color: ghostwhite;
}

.scoringcard {
    margin: 1px;
    background-color: goldenrod;
}

.zerocard {
    margin: 1px;
    background-color: ghostwhite;
}

a {
    color: #00B7FF;
}