extends layout

block content
  .container
        .inputarea
            h1=title
            p The game history is recorded in the SQLite DB at "Cards NodeJS Express Web App/simple_card_game.db" in the game project directory.
            p To examine the database, you can download a browser at the site below
            a(href="http://sqlitebrowser.org/") http://sqlitebrowser.org/