extends layout

block content

  .container
    .inputarea
        h1=title
        <form method="get" action="/shuffle?">
            <div>
                <label>Enter the number of players (at least 1 and no more than 10:</label>
                <input id="players" type="number" name="players" min="1" max="10" required>
                <span class="validity"></span>
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    if dealtCardsPerUser
        .cardtable
        -   let dealt = dealtCardsPerUser;
        -   let result = JSON.parse(dealt);
        -   let hands = result.handsByPlayerNumber;
            each playerHand, playerIndex in hands
                .player
                    p Player: #{playerIndex} scored: #{playerHand.score}
                    p Hand: #{playerHand.thisHand}
